NET "n_reset"       LOC = "P99" | SLEW = SLOW | BUFG = SR;
NET "n_wr"          LOC = "P1"  | SLEW = SLOW;
NET "ba"            LOC = "P2"  | SLEW = SLOW;
NET "n_dma"         LOC = "P3"  | SLEW = SLOW;
NET "n_io1"         LOC = "P4"  | SLEW = SLOW;
NET "addr<11>"      LOC = "P6"  | SLEW = SLOW;
NET "n_roml"        LOC = "P7"  | SLEW = SLOW;
NET "addr<10>"      LOC = "P8"  | SLEW = SLOW;
NET "addr<9>"       LOC = "P9"  | SLEW = SLOW;
NET "addr<8>"       LOC = "P10" | SLEW = SLOW;

NET "addr<7>"       LOC = "P11" | SLEW = SLOW;
NET "addr<6>"       LOC = "P12" | SLEW = SLOW;
NET "addr<5>"       LOC = "P13" | SLEW = SLOW;
NET "addr<4>"       LOC = "P14" | SLEW = SLOW;
NET "data<7>"       LOC = "P15" | SLEW = SLOW;
NET "data<6>"       LOC = "P16" | SLEW = SLOW;
NET "data<5>"       LOC = "P17" | SLEW = SLOW;
NET "data<4>"       LOC = "P18" | SLEW = SLOW;
NET "addr<3>"       LOC = "P19" | SLEW = SLOW;
NET "data<3>"       LOC = "P20" | SLEW = SLOW;
NET "d_clk"         LOC = "P22" | SLEW = SLOW | BUFG = CLK;

NET "clk"           LOC = "P23" | SLEW = SLOW | BUFG = CLK;
NET "addr<2>"       LOC = "P24" | SLEW = SLOW;
NET "data<2>"       LOC = "P25" | SLEW = SLOW;
NET "phi2"          LOC = "P27" | SLEW = SLOW | BUFG = CLK;
NET "data<1>"       LOC = "P28" | SLEW = SLOW;
NET "addr<1>"       LOC = "P29" | SLEW = SLOW;
NET "data<0>"       LOC = "P30" | SLEW = SLOW;
NET "addr<0>"       LOC = "P32" | SLEW = SLOW;
NET "tp1"           LOC = "P33" | SLEW = SLOW;
NET "tp2"           LOC = "P34" | SLEW = SLOW;

NET "tp3"           LOC = "P35" | SLEW = SLOW;
NET "tp4"           LOC = "P36" | SLEW = SLOW;
NET "tp5"           LOC = "P37" | SLEW = SLOW;
NET "n_wp"          LOC = "P39" | SLEW = SLOW;
NET "miso"          LOC = "P40" | SLEW = SLOW;
NET "mosi"          LOC = "P41" | SLEW = SLOW;
NET "sck"           LOC = "P42" | SLEW = SLOW;
NET "n_hold"        LOC = "P43" | SLEW = SLOW;
NET "n_ram_cs"      LOC = "P46" | SLEW = SLOW;
NET "n_flash_cs"    LOC = "P49" | SLEW = SLOW;

NET "n_sw2"         LOC = "P50" | SLEW = SLOW;
NET "n_led"         LOC = "P52" | SLEW = SLOW;
NET "sa<3>"         LOC = "P53" | SLEW = SLOW;
NET "sa<2>"         LOC = "P54" | SLEW = SLOW;
NET "sa<1>"         LOC = "P55" | SLEW = SLOW;
NET "sd<6>"         LOC = "P56" | SLEW = SLOW;
NET "sd<7>"         LOC = "P58" | SLEW = SLOW;
NET "sd<9>"         LOC = "P59" | SLEW = SLOW;
NET "sd<10>"        LOC = "P60" | SLEW = SLOW;
## NET "gpio<2>"       LOC = "P53" | SLEW = SLOW;
## NET "gpio<3>"       LOC = "P54" | SLEW = SLOW;
## NET "gpio<4>"       LOC = "P55" | SLEW = SLOW;
## NET "gpio<14>"      LOC = "P56" | SLEW = SLOW;
## NET "gpio<15>"      LOC = "P58" | SLEW = SLOW;
## NET "gpio<17>"      LOC = "P59" | SLEW = SLOW;
## NET "gpio<18>"      LOC = "P60" | SLEW = SLOW;
NET "gpio<27>"      LOC = "P61" | SLEW = SLOW;

NET "sd<14>"        LOC = "P63" | SLEW = SLOW;
NET "sd<15>"        LOC = "P64" | SLEW = SLOW;
NET "sdrr"          LOC = "P65" | SLEW = SLOW;
NET "sd<2>"         LOC = "P66" | SLEW = SLOW;
NET "sd<1>"         LOC = "P67" | SLEW = SLOW;
NET "sdwr"          LOC = "P68" | SLEW = SLOW;
NET "sd<3>"         LOC = "P70" | SLEW = SLOW;
NET "sd<0>"         LOC = "P71" | SLEW = SLOW;
NET "n_swe"         LOC = "P72" | SLEW = SLOW;
NET "sa<5>"         LOC = "P73" | SLEW = SLOW;
## NET "gpio<22>"      LOC = "P63" | SLEW = SLOW;
## NET "gpio<23>"      LOC = "P64" | SLEW = SLOW;
## NET "gpio<24>"      LOC = "P65" | SLEW = SLOW;
## NET "gpio<10>"      LOC = "P66" | SLEW = SLOW;
## NET "gpio<9>"       LOC = "P67" | SLEW = SLOW;
## NET "gpio<25>"      LOC = "P68" | SLEW = SLOW;
## NET "gpio<11>"      LOC = "P70" | SLEW = SLOW;
## NET "gpio<8>"       LOC = "P71" | SLEW = SLOW;
## NET "gpio<7>"       LOC = "P72" | SLEW = SLOW;
## NET "gpio<0>"       LOC = "P73" | SLEW = SLOW;

NET "sa<4>"         LOC = "P74" | SLEW = SLOW;
NET "sa<0>"         LOC = "P76" | SLEW = SLOW;
NET "n_soe"         LOC = "P77" | SLEW = SLOW;
NET "sd<4>"         LOC = "P78" | SLEW = SLOW;
NET "sd<5>"         LOC = "P79" | SLEW = SLOW;
NET "sd<11>"        LOC = "P80" | SLEW = SLOW;
NET "sd<8>"         LOC = "P81" | SLEW = SLOW;
NET "gpio<26>"      LOC = "P82" | SLEW = SLOW;
NET "sd<12>"        LOC = "P85" | SLEW = SLOW;
NET "sd<13>"        LOC = "P86" | SLEW = SLOW;
## NET "gpio<1>"       LOC = "P74" | SLEW = SLOW;
## NET "gpio<5>"       LOC = "P76" | SLEW = SLOW;
## NET "gpio<6>"       LOC = "P77" | SLEW = SLOW;
## NET "gpio<12>"      LOC = "P78" | SLEW = SLOW;
## NET "gpio<13>"      LOC = "P79" | SLEW = SLOW;
## NET "gpio<19>"      LOC = "P80" | SLEW = SLOW;
## NET "gpio<16>"      LOC = "P81" | SLEW = SLOW;
## NET "gpio<20>"      LOC = "P85" | SLEW = SLOW;
## NET "gpio<21>"      LOC = "P86" | SLEW = SLOW;

NET "n_romh"        LOC = "P87" | SLEW = SLOW;
NET "n_irq"         LOC = "P89" | SLEW = SLOW;
NET "n_nmi"         LOC = "P90" | SLEW = SLOW;
NET "addr<15>"      LOC = "P91" | SLEW = SLOW;
NET "addr<14>"      LOC = "P92" | SLEW = SLOW;
NET "n_game"        LOC = "P93" | SLEW = SLOW;
NET "addr<13>"      LOC = "P94" | SLEW = SLOW;
NET "n_exrom"       LOC = "P95" | SLEW = SLOW;
NET "addr<12>"      LOC = "P96" | SLEW = SLOW;
NET "n_io2"         LOC = "P97" | SLEW = SLOW;

